@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Smooth scrolling for the whole document */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #F8F9FA;
}
/* Ensure the map container can take full height */
.leaflet-container {
  width: 100%;
  height: 100%;
}